body{
  width: 100%;
}
#map{
  width: 35%;
  height: 500px;
  border: 1px solid gray;
  border-radius: 5px;
  float: left;
  margin: 0 2em;
}
.App {
  text-align: center;
}
#cities {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  float: left;
}

#cities td, #cities th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cities tr:nth-child(even){background-color: #f2f2f2;}

#cities tr:hover {background-color: #ddd;}

#cities th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
.usr-search{
  width: 20em;
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 16px;
  margin: 0 0 20px 0;
}

.list-cities-container{
  width: 90%;
  margin: auto;
}